.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button {
  background-color: #42a5f5;
  color: #fff;
}

.add-to-bag-button {
  background-color: #28a745;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
}
