/* src/components/Button/Button.scss */
@use "../lib-styles/borders.scss";
@use "../lib-styles/colors.scss";
@use "../lib-styles/font-sizes.scss";
@use "../lib-styles/paddings.scss";
@use "../lib-styles/radius.scss";

.button {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:hover {
    border: none;
  }
}

/* Size Classes */

.size-sm {
  font-size: var(--font-size-sm);
  padding: var(--padding-sm);
}

.size-md {
  font-size: var(--font-size-md);
  padding: var(--padding-md);
}

.size-lg {
  font-size: var(--font-size-lg);
  padding: var(--padding-xl);
}

/* radius classes */

.radius-none {
  border-radius: var(--border-radius-none);
}

.radius-sm {
  border-radius: var(--border-radius-sm);
}

.radius-md {
  border-radius: var(--border-radius-md);
}

.radius-lg {
  border-radius: var(--border-radius-lg);
}

.radius-full {
  border-radius: var(--border-radius-full);
}

/* border-classes */

.border-none {
  border: none;
}

.border-xs {
  border: var(--border-xs);
}
.border-sm {
  border: var(--border-sm);
}
.border-md {
  border: var(--border-md);
}

.border-lg {
  border: var(--border-lg);
}
.border-xl {
  border: var(--border-xl);
}

/* color-classes */
.color-primary {
  background-color: colors.$primary-base;
  color: white;
  border-color: colors.$primary-dark;
}

.color-default {
  background-color: colors.$default-base;
  color: white;
  border-color: colors.$default-dark;
}

.color-secondary {
  background-color: colors.$secondary-base;
  color: white;
  border-color: colors.$secondary-dark;
}

.color-success {
  background-color: colors.$success-base;
  color: black;
  border-color: colors.$success-dark;
}

.color-warning {
  background-color: colors.$warning-base;
  color: black;
  border-color: colors.$warning-dark;
}

.color-danger {
  background-color: colors.$danger-base;
  color: white;
  border-color: colors.$danger-dark;
}
