// Light theme colors (default)
// Default Colors
$default-base: #a3a3a3; // Light grey
$default-base-lighter: #f4f4f4; // Subtle warm white
$default-dark: black;
$default-light: white;

// Primary Colors
$primary-base: #4a90e2; // Cool blue
$primary-dark: #00509e; // Dark blue
$primary-light: #a0c4f2; // Soft blue

// Secondary Colors
$secondary-base: #8f52bc;
$secondary-dark: #6d3f8e;
$secondary-light: #b685db;

// Success Colors
$success-base: #39cb73;
$success-dark: #2e9b59;
$success-light: #88e1ac;

// Warning Colors
$warning-base: #f2f05e;
$warning-dark: #b6b33d;
$warning-light: #f7f5a1;

// Danger Colors
$danger-base: #e35260;
$danger-dark: #a33a46;
$danger-light: #f2a0aa;

// Dark theme colors
// Default Colors
$default-base: #303030; 
$default-base-lighter: #424242; 
$default-dark: #f4f4f4; 
$default-light: #e0e0e0; 

// Primary Colors
$primary-base: #4a90e2;
$primary-dark: #81b3ed; 
$primary-light: #204970; 

// Secondary Colors
$secondary-base: #8f52bc; 
$secondary-dark: #b685db; 
$secondary-light: #4c316b; 

// Success Colors
$success-base: #39cb73; 
$success-dark: #4ddb88; 
$success-light: #1f5a36; 

// Warning Colors
$warning-base: #f2f05e; 
$warning-dark: #f7f787;
$warning-light: #645e27; 

// Danger Colors
$danger-base: #e35260; 
$danger-dark: #f27885; 
$danger-light: #5a2c33; 

:root {
  --default-base: #{$default-base};
  --default-base-lighter: #{$default-base-lighter};
  --default-dark: #{$default-dark};
  --default-light: #{$default-light};

  --primary-base: #{$primary-base};
  --primary-dark: #{$primary-dark};
  --primary-light: #{$primary-light};

  --secondary-base: #{$secondary-base};
  --secondary-dark: #{$secondary-dark};
  --secondary-light: #{$secondary-light};

  --success-base: #{$success-base};
  --success-dark: #{$success-dark};
  --success-light: #{$success-light};

  --warning-base: #{$warning-base};
  --warning-dark: #{$warning-dark};
  --warning-light: #{$warning-light};

  --danger-base: #{$danger-base};
  --danger-dark: #{$danger-dark};
  --danger-light: #{$danger-light};

  --dark-default-base: #{$dark-default-base};
  --dark-default-dark: #{$dark-default-dark};
  --dark-default-light: #{$dark-default-light};

  --dark-primary-base: #{$dark-primary-base};
  --dark-primary-dark: #{$dark-primary-dark};
  --dark-primary-light: #{$dark-primary-light};

  --dark-secondary-base: #{$dark-secondary-base};
  --dark-secondary-dark: #{$dark-secondary-dark};
  --dark-secondary-light: #{$dark-secondary-light};

  --dark-success-base: #{$dark-success-base};
  --dark-success-dark: #{$dark-success-dark};
  --dark-success-light: #{$dark-success-light};

  --dark-warning-base: #{$dark-warning-base};
  --dark-warning-dark: #{$dark-warning-dark};
  --dark-warning-light: #{$dark-warning-light};

  --dark-danger-base: #{$dark-danger-base};
  --dark-danger-dark: #{$dark-danger-dark};
  --dark-danger-light: #{$dark-danger-light};
}
