// Define breakpoints map

@use "sass:map";

$breakpoints: (
  "xs": 480px,
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  // "lg": 992px,
  "xl": 1200px,
  "xxl": 1600px,
);

// Mixin to use breakpoints
@mixin media($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}

// Flexbox centerin utility mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
