// Primary colors

// $primary-color: #083748;
$primary-color: #083748;
$secondary-color: #083e52;
$optional-color: #5a2778;
$slightlyLighter-color: #095874;

$background-color: #181818;
$text-color: #ffffff;
$font-stack: "Roboto", sans-serif;
