@use "../../styles/main" as *;

/* Container styles */
.showcase-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #c1c1c1 transparent; /* For Firefox */
  }
  
  /* For Webkit browsers (Chrome, Edge, Safari) */
  .showcase-container::-webkit-scrollbar {
    height: 8px;
  }
  .showcase-container::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
  }
  .showcase-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Component box styles */
  .component-box {
    min-width: 18rem;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-all-sides;
    padding: 1rem;
  }
  