@use "partials/variables"; // Import the variables partial
@use "partials/mixins"; // Import the mixins partial
@use "partials/layout"; // Import the layout partial
@tailwind base;
@tailwind components;
@tailwind utilities;

// Reset and base styles
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-stack;
  background-color: var(--background-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// App layout styles
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-left: 10rem; // Ensures all content is pushed to the right from sidebar
  // Ensure content pushes footer down

  @include media("md") {
    margin-left: 230px; // Narrow width for iPad view
  }

  @include media("sm") {
    margin-left: 30px;
  }
}
