@use "sass:map";
@tailwind base;
@tailwind components;
@tailwind utilities;

// Primary colors
$primary-color: #083748;
$secondary-color: #083e52;
$optional-color: #5a2778;
$slightlyLighter-color: #095874;

$background-color: #181818;
$text-color: #ffffff;
$border-color: 1px solid rgba(255, 255, 255, 0.2);
// $primary-color: var(--primary-color);
// $secondary-color: var(--secondary-color);
// $optional-color: var(--optional-color);
// $background-color: var(--background-color);
// $text-color: var(--text-color);

$font-stack: "Roboto", sans-serif;

// Define breakpoints map
$breakpoints: (
  "xs": 480px,
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  // "lg": 992px,
  "xl": 1200px,
  "xxl": 1600px,
);

// Mixin to use breakpoints
@mixin media($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}

// Flexbox centerin utility mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Reset and base styles
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-stack);
  background-color: var(--background-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// App layout styles
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  // margin-left: 10rem; // Ensures all content is pushed to the right from sidebar
  // Ensure content pushes footer down

  @include media("md") {
    margin-left: 230px; // Narrow width for iPad view
  }

  @include media("sm") {
    margin-left: 30px;
  }
}
