@use "../../styles/main" as styles;
@use "sass:color"; // Import color module

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
  background-color: pink;
  //   background-color: styles.$primary-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease; // Smooth slide-in effect
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    background: styles.$background-color; // Background of the scrollbar track
  }

  @include styles.media("md") {
    width: 200px; // Narrow width for iPad view
  }

  // For mobile view, hide sidebar by sliding it off-screen
  @include styles.media("sm") {
    left: -350px;
    width: 66.66vw; // Covering 2/3 of the mobile screen width

    // When sidebar is open, slide it in
    &.open {
      left: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.2rem;
      color: styles.$text-color;

      .nav-link,
      .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 10px 15px;
        color: styles.$text-color;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 5px;
        }

        a {
          color: inherit;
          text-decoration: none;
        }

        .arrow {
          margin-left: 8px;
        }
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
        list-style: none;
        border-radius: 5px;
        background-color: styles.$primary-color;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;

        li {
          padding: 10px 20px;
          transition: background-color 0.3s ease;

          a {
            color: styles.$text-color;
            text-decoration: none;
            display: block;
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }

  .playground-btn {
    background: radial-gradient(
      circle,
      styles.$optional-color,
      styles.$secondary-color
    );
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.3),
      0px 5px 10px rgba(0, 0, 0, 0.102);
    margin-top: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for both transform and shadow */

    // &:hover {
    //   transform: translateY(-3px);
    //   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3), 0px 4px 10px rgba(0, 0, 0, 0.2);
    // }
  }
}

// Burger menu styles
.burger-menu {
  display: none; // Hide by default

  @include styles.media("sm") {
    display: flex; // Show burger menu for screens smaller than md
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 4rem;
    height: 4rem;
    top: 20px;
    left: 20px;
    z-index: 2000; // Ensure it's above the sidebar
    cursor: pointer;

    .burger-icon {
      font-size: 3rem;
      color: styles.$secondary-color;
    }
  }
}


// overflow-y: auto;
  // &::-webkit-scrollbar-track {
  //   background: styles.$background-color; // Background of the scrollbar track
  // }

  // @include styles.media("md") {
  //   width: 200px; // Narrow width for iPad view
  // }

  // For mobile view, hide sidebar by sliding it off-screen
  // @include styles.media("sm") {
  //   left: -350px;
  //   width: 66.66vw; // Covering 2/3 of the mobile screen width

  //   When sidebar is open, slide it in
  //   &.open {
  //     left: 0;
  //   }
  // }
