@use "sass:color";
@import "../../../styles/main.scss";

// Light theme colors
$primary-color: #083748;
$secondary-color: #2f6b75;
$background-gradient-light: linear-gradient(135deg, #f0f4f8, #cfdce3);
$text-color-dark: #333;
$text-color-light: hsl(0, 0%, 100%);
$font-stack: "Roboto", sans-serif;

// Dark theme colors
$background-gradient-dark: linear-gradient(135deg, #2a2d34, #3a3e47);
$primary-color-dark: #d4d4d8;
$secondary-color-dark: #3b7b83;
$section-bg-dark: #3c3f46;
$page-padding-bg-dark: #1e1f23;
$header-color-dark: lighten($primary-color-dark, 15%);
$text-color-dark-mode: #e0e0e0;

.render-component-page {
  background: $background-gradient-light;
  padding: 2rem;
  min-height: 100vh;
  font-family: $font-stack;
  color: $text-color-dark;
  transition: background 0.3s, color 0.3s;

  body.dark-theme & {
    background: $background-gradient-dark;
    padding: 2rem;
    background-color: $page-padding-bg-dark;
    color: $text-color-dark-mode;
  }

  header {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-weight: bold;
      font-size: 2rem;
      color: $primary-color;

      .dark-theme & {
        color: $header-color-dark;
      }
    }

    p {
      font-size: 1.2rem;
      color: darken($text-color-dark, 20%);

      .dark-theme & {
        color: $text-color-dark-mode;
      }
    }
  }

  main {
    max-width: 1200px;
    margin: 0 auto;

    section {
      background-color: $text-color-light;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: lighten($secondary-color, 45%);

        .dark-theme & {
          background-color: lighten($section-bg-dark, 5%);
        }
      }

      .dark-theme & {
        background-color: $section-bg-dark;
      }

      h2 {
        font-size: 1.5rem;
        color: $primary-color;
        margin-bottom: 1rem;
        padding-right: 10px;

        .dark-theme & {
          color: $primary-color-dark;
        }
      }

      p,
      li {
        font-size: 1rem;
        line-height: 1.6;
        color: $text-color-dark;

        .dark-theme & {
          color: $text-color-dark-mode; //Light text for paragraphs in dark mode
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          img {
            width: 24px;
            height: 24px;
            margin-right: 0.5rem;
          }

          span {
            color: $text-color-light;

            .dark-theme & {
              color: $primary-color-dark;
            }
          }
        }
      }
    }

    .installation-section {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
      }

      li {
        flex: 1 1 30%;
      }
      button {
        background-color: $secondary-color;
        color: $text-color-light;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($secondary-color, 10%);
        }

        .dark-theme & {
          background-color: $secondary-color-dark;
          color: $primary-color-dark;

          &:hover {
            background-color: lighten($secondary-color-dark, 10%);
          }
        }
      }
    }
  }
}
