@use "../../styles/main" as styles;

.navbar {
  font-size: 1.3rem;
  position: fixed;
  width: 100%;
  height: 6rem;
  z-index: 1000;
  background-color: styles.$primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0.6rem 1.3rem;
  transition: left 0.3s ease; // Smooth slide-in effect
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .navbarLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 100%;

    // Navbar Logo
    .navLogo {
      max-width: 7rem;
      height: auto;
    }
  }

  // Navbar Links
  .navbarInner {
    display: flex;
    list-style: none;
    padding-left: 3rem;
    .navbarInnerItem {
      margin-right: 15px;

      .navbarLink {
        // font-size: 1.3rem;
        cursor: pointer;
        padding: 10px 15px;
        color: styles.$text-color;
        width: 100%;
        text-align: left;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 5px;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  .navbarRight {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    gap: 1rem;

    .navbarSearchInput {
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
    }
  }

  .themeToggleButton {
    background: none;
    border: none;
    color: styles.$text-color;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
    &:hover {
      transform: rotate(20deg);
    }
  }
}

// Burger menu styles
.burgerMenu {
  display: none; // Hide by default

  @include styles.media("sm") {
    display: flex; // Show burger menu for screens smaller than md
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 4rem;
    height: 4rem;
    top: 20px;
    left: 20px;
    z-index: 2000; // Ensure it's above the sidebar
    cursor: pointer;

    .burgerIcon {
      font-size: 3rem;
      color: styles.$secondary-color;
    }
  }
}
