@use "../../styles/main.scss" as styles;
.table_container {
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(177, 177, 177, 0.3); //original background color
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 600px;
  margin: 10vw auto;
  font-family: styles.$font-stack; //use font-stack from main.scss
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table_header {
  background-color: styles.$secondary-color; //use the secondary color
  color: styles.$text-color; //use the text color
  padding: 10px;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
.table_cell {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.87); //darker text color for better visibility
}
.table_cell:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1); //original even cell background
}
.table_cell:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2); //original odd cell background
}
// Add hover effect for table rows
tr:hover {
  background-color: rgba(0, 0, 0, 0.05); //slight highlight on hover
}