@use "../../styles/main.scss" as styles;

:root {
  --table-header-text-color: #e0e0e0; //Default text color (light mode)
}

body.dark-theme {
  --table-header-text-color: #d4d4d8; //Dark mode text color for the table header
}

.table_container {
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(177, 177, 177, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 600px;
  margin: 10vw auto;
  font-family: styles.$font-stack;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table_header {
  background-color: styles.$secondary-color;
  color: var(--table-header-text-color);
  padding: 10px;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
.table_cell {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.87);
}
.table_cell:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.table_cell:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
