@use "../lib-styles/borders.scss";
@use "../lib-styles/colors.scss";
@use "../lib-styles/paddings.scss";
@use "../lib-styles/radius.scss";

// Base styles for the switch container
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

// Slider styles
.slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 50%;
  height: 100%;
  left: 2px;
}

// Size classes
.size-xs {
  width: 1.5rem;
  height: 0.75rem;
  .slider {
    width: 0.6rem;
    height: 0.6rem;
    left: 2px;

    &.checked {
      left: calc(100% - 0.6rem - 1px);
    }
  }
}

.size-sm {
  width: 1.75rem;
  height: 0.875rem;
  .slider {
    width: 0.7rem;
    height: 0.7rem;
    left: 2px;

    &.checked {
      left: calc(100% - 0.7rem - 1px);
    }
  }
}

.size-md {
  width: 2rem;
  height: 1rem;
  .slider {
    width: 0.8rem;
    height: 0.8rem;
    left: 2px;

    &.checked {
      left: calc(100% - 0.8rem - 2px);
    }
  }
}

.size-lg {
  width: 2.5rem;
  height: 1.25rem;
  .slider {
    width: 1rem;
    height: 1rem;
    left: 2px;

    &.checked {
      left: calc(100% - 1rem - 2px);
    }
  }
}

.size-xl {
  width: 3rem;
  height: 1.5rem;
  .slider {
    width: 1.2rem;
    height: 1.2rem;
    left: 2px;

    &.checked {
      left: calc(100% - 1.2rem - 2px);
    }
  }
}

// Radius variants
.radius-none {
  border-radius: 0;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 8px;
}

.radius-lg {
  border-radius: 12px;
}

.radius-full {
  border-radius: 50%;
}

// Border variants

.border-none {
  border: none;
}

.border-xs {
  border: var(--border-xs);
}
.border-sm {
  border: var(--border-sm);
}
.border-md {
  border: var(--border-md);
}

.border-lg {
  border: var(--border-lg);
}
.border-xl {
  border: var(--border-xl);
}

// Color variants
.color-default-light {
  background-color: colors.$default-light;
  border-color: colors.$default-dark;

  .slider {
    background-color: colors.$default-dark;
  }
}

.color-default-dark {
  background-color: colors.$default-dark;
  border-color: colors.$default-light;

  .slider {
    background-color: colors.$default-light;
  }
}

.color-primary {
  background-color: colors.$primary-dark;
  border-color: colors.$primary-light;

  .slider {
    background-color: colors.$primary-light;
  }
}

.color-secondary {
  background-color: colors.$secondary-dark;
  border-color: colors.$secondary-light;

  .slider {
    background-color: colors.$secondary-light;
  }
}

.color-success {
  background-color: colors.$success-dark;
  border-color: colors.$success-light;

  .slider {
    background-color: colors.$success-light;
  }
}

.color-warning {
  background-color: colors.$warning-dark;
  border-color: colors.$warning-light;

  .slider {
    background-color: colors.$warning-light;
  }
}

.color-danger {
  background-color: colors.$danger-dark;
  border-color: colors.$danger-light;

  .slider {
    background-color: colors.$danger-light;
  }
}
